<h1>Listing dictionaries</h1>

<div id="content" class='block'>
  <h1 id="stats" style="float:left;"><%= @dictionaries.total_entries %> dictionaries</h1>
  <div style="clear:both;"></div>
  <%= link_to 'New dictionary', new_dictionary_path %>
  <%= will_paginate @dictionaries %>

  <table class='standard'>
    <thead>
      <tr id="header">
        <th class="">Name</th>
        <th class="">Description</th>
        <th class="">User</th>
        <th colspan='2'>Actions</th>
      </tr>
    </thead>
    <% @dictionaries.each do |dic| %>
      <tr>
        <td>
          <strong><%= dic.name %></strong>
        </td>
        <td><%= dic.desc %></td>
        <td><%= dic.user_id %></td>
        <td><%= link_to 'Show', dic %></td>
        <td><%= link_to 'Edit', edit_dictionary_path(dic) %></td>
        <td><%= link_to 'Destroy', dic, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @dictionaries %>
</div>

<br />

<%= link_to 'New Dictionary', new_dictionary_path %>
