<h1>Vocabulary</h1>

<div id="content" class='block'>
  <h1 id="stats" style="float:left;"><%= @words.total_entries %> words</h1>
  <div style="clear:both;"></div>
  <%= will_paginate @words %>

  <table class='standard'>
    <thead>
      <tr id="header">
        <th class="">English</th>
        <th class="">Russian</th>
        <th colspan='2'>Actions</th>
        
      </tr>
    </thead>
    <% @words.each do |word| %>
      <tr>
        <td>
          <strong><%= word.word %></strong>
        </td>
        <td><%= link_to translate(word).html_safe, word %></td>

        <!-- <td><%= link_to 'Show', word %></td> -->
        <td><%= link_to 'Edit', edit_word_path(word) %></td>
        <td><%= link_to 'Destroy', word, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @words %>
</div>

<br />

<%= link_to 'New Word', new_word_path %>
