<p id="notice"><%= notice %></p>

<iframe width='790px' height='350px' src=<%= "http://www.google.com/dictionary?aq=f&langpair=en|ru&q=#{@word.word}&hl=en" %>>
</iframe><br/>

<% content_for :menu do %>
  <%= link_to 'Edit', edit_word_path(@word) %> |
  <%= link_to 'Back', words_path %>
<% end %>
<% content_for :menu_bottom do %>
  <%= link_to 'Edit', edit_word_path(@word) %> |
  <%= link_to 'Back', words_path %>
<% end %>